{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<body>

<div class="container">
  <h2>Carta Editar</h2>
    <div class="form-group">

    </div>
      <div class="col-sm-offset-0 col-sm-5" align="left">
        <form method="POST" class="post-form" enctype="multipart/form-data" action="" id="upload-image-form">
          {% csrf_token %}
        {{formulario.as_table}}
      <button type="submit" class="btn btn-primary btn-lg center-block">Guardar</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
{% endblock %}
