{% extends 'base/base.html'%}
{% block titulo %}Cartas{% endblock %}
{% block content %}


<div class="row">
  {% for carta in carta %}
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{carta.imagen.url}}" alt="Cartas Royale " width="150", height="150">
      <h1><a href="{% url 'detalle_carta' id=carta.id %}">{{ carta.nombre }}</a></h1>
        <h3>Nivel de Carta:{{carta.nivel}}</h3>
    </a>
  </div>
    {% endfor %}

</div>
{% endblock %}


<!-- banner -->
