{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}

		<a class="btn btn-default" href=""><span class="glyphicon glyphicon-pencil"></span></a>
		<a class="btn btn-default" href=""><span class="glyphicon glyphicon-remove"></span></a>
            <img src="{{carta.imagen.url}}" height="200" />
            <h3 style="margin:1% 0;"><strong>Nombre: </strong>{{carta.nombre }}</h3>
            <h3 style="margin:1% 0;"><strong>Nivel: </strong>{{carta.nivel}}</h3>
            <h3 style="margin:1% 0;"><strong>Descripción: </strong></h3>
            <p>{{carta.detalle|linebreaks }}</p>
            {% for ca in carta.tipos.all %}
            <h3><strong>Tipo de Carta: </strong>{{ca.nombre}}</h3>
            {% endfor%}
{% endblock %}
